
{{app-breadcrumbs
    mainLabel='Dashboard'
    mainRoute='dashboard'
    appRoute='dashboard.app'
    changeListRoute='dashboard.list'
    changeFormRoute='dashboard.form'
}}

<div class="container-fluid">
  {{liquid-outlet}}
</div>

